<!doctype html>
<title>Sports Recommender</title>
<h1>Welcome to Sports Recommender</h1>
<h2>Please enter your Skill-Values from 0-10</h2>
<form method=post enctype=multipart/form-data>
    <p>Endurance:</p>
    <input type="number" name=Endurance>
    <p>Strength:</p>
    <input type="number" name=Strength>
    <p>Power:</p>
    <input type="number" name=Power>
    <p>Speed:</p>
    <input type=number name=Speed>
    <p>Agility:</p>
    <input type=number name=Agility>
    <p>Flexibility:</p>
    <input type=number name=Flexibility>
    <p>Nerve:</p>
    <input type=number name=Nerve>
    <p>Durability:</p>
    <input type=number name=Durability>
    <p>Hand-Eye-Coordination:</p>
    <input type=number name=Hand-Eye-Coordination>
    <p>Analytical-Aptitude:</p>
    <input type=number name=Analytical-Aptitude>

    <div>
        <input type=submit value=Submit>
    </div>

</form>

<meta charset=utf-8>
<a href="/">See results</a>